body {
  width: 90%;
  color: dimgray;
  background-color: antiquewhite;
  font-family: sans-serif;
  margin: auto;
}

header {
  background-color: aquamarine;
  border: 2px solid #8AC007;
  height: 50px;
}

header h1 {
  background-color: cadetblue;
  width: 45%;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

footer {
  background-color: palevioletred;
  border: 2px solid #8AC007;
  height: 50px;
}

footer p {
  background-color: darkgray;
  width: 40%;
  display: inline;
  float: left;  
  margin: 0;
  padding: 5px 15px 5px 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: skyblue;
  padding: 5px 15px 5px 15px;
  text-align: right;
  width: 50%;
  float: right;
  display: inline;
}

nav li {
  display: inline;
  background-color: royalblue;
  padding: 5px 15px 5px 15px;
  font-size: 1em;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: aliceblue;
  }

article {
  background-color: aliceblue;
  padding: 5px 15px 5px 15px;
  width: auto;
}

ol, ul {
  list-style: none;
}

ol.photos {
  background-color: papayawhip;
  color: dimgray;
  text-align: center;
}

ol.photos li {
  width: 450px;
  display: inline-block;
  background-color: peachpuff;
  padding: 0px;
}

ul.projects {
  background-color: darkseagreen;
  color: dimgray;
}

ul.projects li {
  background-color: pink;
  width: auto;
  padding: 10px;
}

ul.projects p {
  color: blue;
}

img {
  background-color: gray;
  padding: 0;
  margin: 0;
  width: 100%;
}

h2 {
  color: darkred;
  text-decoration: underline;
  font-size: 1.5em;
  background-color: blanchedalmond;
}

h3 {
  color: darkcyan;
  background-color: lavender;
}

article p {
  background-color: aquamarine;
  width: 80%;
}

article p::first-letter{
  font-size: 1.1em;
  font-weight: bold;
  color: blueviolet;
}

ul.home {
  width: 40%;
}

img.home {
  background-color: black;
  padding: 30px;
  border: grey 3px solid;
  margin: 20px;
  width: 100%;
}

img.home:hover {
  background-color: skyblue;
  padding: 30px;
  border: blue 3px solid;
  margin: 20px;
  width: 100%;
}



/* 
Assignment #3: 
  Write some styling for your portfolio site
    Include a link to the stylesheet in the head section of each of the html pages. You can add more content to these HTML pages.
  
  Use GIT to commit your work as you go.
  Must have 50 lines of code
  About using CSS properly, not design

  Create a second brand for your repository called 'gh-pages'. Push your work up to your Github repository's master and gh-pages branches (they should both have all the same commits), and submit a link to the Github repo for the assignment.
    I will view the pages via your personal gh-pages URL and expect everything to be functional (no broken images or links, etc). Refer to class 0's slides if you need a refresher on Git & Github, class 3's slides for how to work with branches, and this guide may help you with gh-pages (we're using "project pages"):  http://www.thinkful.com/learn/a-guide-to-using-github-pages
*/